<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.smulyono.todo" >

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Todo.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        // To avoid active android look on all files which will be slow
        <meta-data
            android:name="AA_MODELS"
            android:value="me.smulyono.todo.models.TodoItems" />
        
        <activity
            android:name=".TodoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item" >
        </activity>
    </application>

</manifest>
